<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employer Inc. | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  
  <style>
    .col-sm-6
      {
        margin: 0 auto;
        float : none;
      }
    .colo{
      background-color: rgb(186, 58, 75);
    }
  </style>
  <script>
    $(document).ready(function () {
      console.log("Test 1");
      $("#checkMortStatus").click(function () {
        var firstName = $("#firstName").val();
        var lastName = $("#lastName").val();
        var brokrefID = $("#brokrefID").val();
        var mlsId = $("#mlsid").val();

        $.post("http://localhost:1337/RErealestateController/createAppraisalRequest", {
            submitted_firstname: firstName,
            submitted_lastname: lastName,
            submitted_mlsId: mlsId,
            submitted_mortId: brokrefID
          },

          function (data, status) {
            var appStatus = data['regSuccess'];
            $("#feedback").html(appStatus);
          });
      });
    });
  </script>
</head>
<body style="background-color: rgb(255, 245, 247)">

<nav class="navbar navbar-expand-md colo navbar-dark fixed-top">
  <a class="navbar-brand" href="/realestate/rehome" style="color: white">Real Estate Inc.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<br><br><br>

<div class ="centerali">
  <br>
      <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <form>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Appraisal Form</h5>
                <p class="card-text">For your Real Estate</p>
                
                <div class="input-group">
                    <input type="text" name="fname" id="firstName" placeholder="First Name" class="form-control" required>
                  </div><br>

                  <div class="input-group">
                    <input type="text" name="lname" id="lastName" placeholder="Last Name" class="form-control" required>
                  </div><br>

                  <div class="input-group">
                        <input type="number" step="1" min="1" name="mlsid" id="mlsid" placeholder="MLs_ID" class="form-control" required/>
                      </div><br>
                <div class="input-group">
                    <input type="text" name="brokrefID" id="brokrefID" placeholder="Brokers Reference ID" class="form-control" required>
                    </div><br>

                <button class="btn btn-danger" id="checkMortStatus" type="button">Submit</button>
            </div>
            <div class="card-footer text-muted"><a id="feedback"></a></div>
            <div class="card-footer text-muted"><strong>© Realestate Inc. 2019</div>
          </div>
          </form>
        </div>
</div>
</body>
</html>