<!DOCTYPE html>
<html lang="en">

<head>
  <title>Employer Inc. | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style>
    .col-sm-6 {
      margin: 0 auto;
      float: none;
    }

    .colo {
      background-color: rgb(186, 58, 75);
    }

    .modal-lg {
      max-width: 50% !important;
    }

    .modal-body {
      max-height: calc(100vh - 200px);
      overflow-y: auto;
    }
  </style>

</head>

<body style="background-color: rgb(255, 245, 247)">

  <nav class="navbar navbar-expand-md colo navbar-dark fixed-top">
    <a class="navbar-brand" href="    " style="color: white">Real Estate Inc.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalLong">View
      Logs</button>
  </nav>
  <br><br><br>
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Logs</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe id="inlineFrameExample" title="Inline Frame Example" width="600" height="400"
            src="https://cloud-grp-10.azurewebsites.net/logs" frameborder="0">
          </iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="centerali">
    <br>
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <form>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Select Appropriate Link</h5>
                <br>
                <a style="text-decoration-color: black" href="/realestate/appraisalrequest">
                  <h5>Request a Appraisal for property</h5>
                </a>
                <br>
                <a style="text-decoration-color: black" href="/realestate/relogin">
                  <h5>Submit Appraisal for property</h5>
                </a>
                <br>
                <div class="card-footer text-muted"><strong>© Realestate Inc. 2019</div>
              </div>
          </form>
        </div>
      </div>
</body>

</html>