<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employer Inc. | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <style>
    .col-sm-6
      {
        margin: 0 auto;
        float : none;
      }
    .colo{
      background-color: rgb(186, 58, 75);
    }
  </style>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#login").click(function(){
            var username=$("#re_email").val();
            var password=$("#re_pwd").val();
            $.ajax({
            url:'http://localhost:1337/re_users/find',
            method: 'GET',
            data: {reEmail: username,rePassword:password},
            dataType: 'json',
            success: function(response){
              if(null!=response && response.length>0){
                console.log("Login Successful");
                window.location = "http://localhost:1337/realestate/appraisalinfo";
              }
              else{
                console.log("Invalid Login");
                alert('Invalid Login');
              }
            },
            error: function(err){
              console.log("Please check your input");
              alert('Please check your input...');
            }
          });
      });
    });
      </script>

</head>
<body style="background-color: rgb(255, 245, 247)">

<nav class="navbar navbar-expand-md colo navbar-dark fixed-top">
  <a class="navbar-brand" href="/realestate/rehome" style="color: white">Real Estate Inc.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<br><br><br>

<div class ="centerali">
  <br>
      <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <form>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Login</h5>
                <div class="input-group">
                    <input type="email" name="re_email" id="re_email" placeholder="Email" class="form-control" required>
                  </div><br>

                  <div class="input-group">
                        <input type="password" name="re_pwd" id="re_pwd" placeholder="Password" class="form-control" required/>
                      </div><br>
                <button class="btn btn-danger" id="login" type="button">Submit</button>
            </div>
            <div class="card-footer text-muted"><strong>© Realestate Inc. 2019</div>
          </div>
          </form>
        </div>
</div>
</body>
</html>