<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MBR Mortgage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>    
    <style type="text/css">
      nav {
        text-align: center;
        height: 75px;
      }
      footer {
        position: fixed;
        bottom: 0;
        width: 100%
      }
        body, html {
        height: 100%;
      }
      .bg { 
        /* The image used */
        background-image: url("https://i0.wp.com/lilar.com/wp-content/uploads/2016/10/Savin-NY-Website-Background-Web.jpg?ssl=1");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .col-sm-6
      {
        margin: 0 auto;
        float : none;
      }
    </style>

<script>

  $(document).ready(function(){
    $("#apply4Mortgage").click(function(){
      if($(("#mortgage"==null)||("#fname"==null)||("#lname"==null)||("#address"==null)||("#cname"==null)||("#email"==null)||("#phone"===null))){
        $("#feedback").html("Incomplete form!");
      }

      var form_username = $("#uname").val();
      var form_password = $("#pwd").val();
      var form_firstname=$("#fname").val();
      var form_lastname=$("#lname").val();
      var form_address=$("#address").val();
      var form_employer=$("#cname").val();
      var form_email=$("#email").val();
      var form_phone=$("#phone").val();
      var form_amount=$("#mortgage").val();
      var form_mlsId=$("#mls_id").val();
        
      $.post("https://cloud-grp-10.azurewebsites.net/BrokerMortgageController/createMortgageRequest",{
        submitted_username:form_username,
        submitted_password:form_password,
        submitted_firstname: form_firstname,
        submitted_lastname: form_lastname,
        submitted_address: form_address,
        submitted_employer:form_employer,
        submitted_email: form_email,
        submitted_pnumber: form_phone,
        submitted_amount: form_amount,
        submitted_mlsId:form_mlsId
      },

      function(data, status){
        var appStatus = data['regSuccess'];
        var request = new XMLHttpRequest()
        request.open('GET','https://cloud-grp-10.azurewebsites.net/BrokerMortgage/find?employeeEmail='+form_email,true)
        request.onload = function(){
          var data = JSON.parse(this.response)  
          data.forEach(element => {
            $("#feedback").html(appStatus+"<br>"+"Mortgage ID: "+ element.id + "<br>"+"Status: " + element.mortgageStatus);
          });
        }
        request.send()
        $("#dataform")[0].reset();
      });
    });
  });
  
  </script>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand " href="/">MBR Mortgage</a>
      <a class="navbar-brand " href="/login">Login</a>
    </nav>
    <br>
    <div class="bg">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <form id="dataform" onkeydown="return event.key != 'Enter';">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Loan Aplication Form</h5>
                <p class="card-text">Fill up all the mandatory fields to get a line of credit approved.</p>
                
                <div class="input-group">
                  <input type="text" name="uname" id="uname" placeholder="User Name" class="form-control" required/>&ensp;&ensp;
                  <input type="password" name="pwd" id="pwd" placeholder="Password" class="form-control" required/>
                </div><br>

                <div class="input-group">
                  <input type="text" name="fname" id="fname" placeholder="First Name" class="form-control" required/>&ensp;&ensp;
                  <input type="text" name="lname" id="lname" placeholder="Last Name" class="form-control" required/>
                </div><br>
                
                <div class="input-group">
                  <input type="text" name="address" id="address" placeholder="Current living Address" class="form-control" required/>
                </div><br>

                <div class="input-group">
                  <input type="text" name="cname" id="cname" placeholder="Current Employer Name" class="form-control" required/>
                </div><br>
                
                <div class="input-group">
                  <input type="email" name="email" id="email" placeholder="Company Email" class="form-control" required/>
                </div><br>

                <div class="input-group">
                  <input type="number" min="1000000000" max="9999999999" step="1" name="phone" id="phone" placeholder="Phone Number" class="form-control" required/>
                </div><br>


                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-dark" type="button" disabled>CA $</button>
                  </div>
                  <input type="number" step="1" min="1" name="mortgage" id="mortgage" placeholder="Mortgage Amount Requested" class="form-control" required/>
                </div><br>
                <div class="input-group">
                    <input type="number" step="1" min="1" name="mls_id" id="mls_id" placeholder="MLs_ID" class="form-control" required/>
                  </div><br>
              </div>
              <div class="card-footer text-muted">
                <button class="btn btn-success" id="apply4Mortgage" type="button" >Submit</button>
              </div>
              <div class="card-footer text-muted"><a id="feedback"></a></div>
            </div>
          </form>
        </div>
</body>
</html>