<!DOCTYPE html>
<html lang="en">

<body>
    <iframe id="inlineFrameExample" title="Inline Frame Example" width="1280" height="800"
        src="http://localhost:1337/logs">
    </iframe>
</body>

</html>