<!DOCTYPE html>
<html lang="en">

<body>
    <iframe id="inlineFrameExample" title="Inline Frame Example" width="1280" height="800"
        src="https://cloud-grp-10.azurewebsites.net/logs">
    </iframe>
</body>

</html>