<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employer Inc. | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <style>
    .headstyle{
      background-color: rgb(177,194,204);
      height: 120px
    }
    .col-sm-6
      {
        margin: 0 auto;
        float : none;
      }
    .colo{
      background-color: rgb(19,68,120);
    }
    .centerali{
      text-align: center;
      margin-top: -5px
    }
    .display-2{
      text-align: center;
    }
  </style>
<script type="text/javascript">

$(document).ready(function(){
$("button").on('click',   function (e) {
  //alert ("button was clicked");
   
        var useremail=$("#emplogin_email").val();
        var userpassword=$("#emplogin_pwd").val();
        $.ajax({
       
          url:"http://localhost:1337/EmployerController/userLogin_805",
          type: 'post',
          data: {employeeEmail:useremail, employeepwd:userpassword},

          success: function (data) {
            console.log(data.Success)

            if (data.Success) {
    
          window.location = "http://localhost:1337/emp/empconfirmation";

            }

            else {
              alert ("Invalid login details");
            }
      
    },
    
    error: function(err){
          console.log("Please check your input");
          alert('login details incorrect');
    }
       
      

});

});

});


</script>

</head>
<body style="background-color: rgb(242, 249, 255)">

<nav class="navbar navbar-expand-md colo navbar-dark fixed-top">
  <a class="navbar-brand" href="/emp/login" style="color: white">Employer Inc.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<br><br><br>

<div class ="centerali">
  <br>
      <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <form>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Login</h5>
                <p class="card-text">For employees</p>
                
                <div class="input-group">
                    <input type="email" name="emplogin" id="emplogin_email" placeholder="Employee Email" class="form-control" required>
                  </div><br>

                <div class="input-group">
                  <input type="password" name="emppwd" id="emplogin_pwd" placeholder="Password" class="form-control" required>
                </div><br>

                <button class="btn btn-success"  type="button">Submit</button>
              </div>
              <div class="card-footer text-muted"><strong>© Employer Inc. 2019</div>
            </div>
          </form>
        </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>