<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employer Inc. | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <style>
    .col-sm-6
      {
        margin: 0 auto;
        float : none;
      }
    .colo{
      background-color: rgb(29, 112, 58);
    }
  </style>


<script>

    $(document).ready(function(){
      $("#updateInsurance").click(function(){
  
        var incmlsid = $("#incmlsid").val();
        var icmortid = $("#icmortid").val();
        var custFname=$("#custFname").val();
        var custLname=$("#custLname").val();
        var appraisalval=$("#appraisalval").val();
        var insuredValue=$("#insuredValue").val();
        var deductibleValue=$("#deductibleValue").val();
          
        $.post("http://localhost:1337/InsuranceController/updateInsurance",{
          submitted_mlsid:incmlsid,
          submitted_mortid:icmortid,
          submitted_firstname: custFname,
          submitted_lastname: custLname,
          submitted_appvalue: appraisalval,
          submitted_incvalue:insuredValue,
          submitted_deduvalue: deductibleValue,
        },
  
        function(data, status){
          if(data.Success)
          {
            $.ajax({
            url:"http://localhost:1337/BrokerMortgageController/updateBrokerINC",
            type: 'POST',
            data: {mortId:icmortid,incstatus:'Approved'}
              } );
          }
        else {
         alert ("There was an issue updating the appraisal value, contact the system admin");
           }
        });
      });
    });
    
    </script>



</head>
<body style="background-color: rgb(245, 255, 248)">

<nav class="navbar navbar-expand-md colo navbar-dark fixed-top">
  <a class="navbar-brand" href="/insurance/home" style="color: white">Insurance Inc.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<br><br><br>

<div class ="centerali">
  <br>
      <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <form>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Insurance</h5>
                <p class="card-text">Insurance</p>
                
                <div class="input-group">
                    <input type="text" name="incmlsid" id="incmlsid" placeholder="MLSs ID" required class="form-control" required>
                </div><br>

                <div class="input-group">
                    <input type="text" name="icmortid" id="incmortid" placeholder="Mortgage ID" required  class="form-control" required>
                </div><br>
                <div class="input-group">
                    <input type="text" name="custFname" id="custFname" placeholder="First Name" required  class="form-control">
                </div><br>
                <div class="input-group">
                    <input type="text" name="custLname" id="custLname" placeholder="Last Name" required class="form-control" >
                </div><br>
                <div class="input-group">
                    <input type="number" name="appraisalval" id="appraisalval" placeholder="Appraisal Value" required class="form-control"/>
                </div><br>
                <div class="input-group">
                    <input type="number" step="1" min="1" name="insuredValue" id="insuredValue" placeholder="Insured Value" required class="form-control"/>
                </div><br>
                <div class="input-group">
                    <input type="number" step="1" min="1" name="deductibleValue" id="deductibleValue" placeholder="Deductible Value" required class="form-control"/>
                </div><br>
                <button class="btn btn-success" id="updateInsurance" type="button">Submit</button>
            </div>
            <div class="card-footer text-muted"><strong>© Insurance Inc. 2019</div>
          </div>
          </form>
        </div>
</div>
</body>
</html>